<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>P2P Example</title>
    
    <script src="//cdn.ably.io/lib/ably-1.js" defer></script>    
    <script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
 
    <script src="/index.js" type="module"></script>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>


    <div id="app">
      <h1>P2P Host / Client Example</h1>

      <div class="debug">
        Client State: {{ state?.status == undefined ? "Disconnected" : state?.status }}
      </div>

      <form class="form" v-if="!joinedOrHosting">
        <label for="session-name">Enter a name for your session</label>
        <input type="text" name="session-name" v-model="uniqueId">
        <label for="name-name">Enter your name</label>
        <input type="text" name="name" v-model="friendlyName">          

        <button v-on:click="host" class="form-button form-button--host">Host a Session</button>
        <button v-on:click="join" class="form-button">Join a Session</button>
      </form>      

      <section v-else class="game-info">
        <h2>UniqueId: {{ uniqueId }}</h2>    
        <button v-if="iAmHost" v-on:click="startGame" class="form-button">Start Game</button>     

        <h3>Active players: {{ transmittedServerState?.players?.length }}</h3>
        <ul class="players">
          <li class="player" v-for="user in transmittedServerState?.players">                
            <span>{{ user.friendlyName }}</span>
          </li>
        </ul> 

        <div>
          Current State Code: {{ transmittedServerState?.game?.state.code }} <br/>
          Current State Reason: {{ transmittedServerState?.game?.state.reason }}
        </div>

        <div v-if="transmittedServerState?.game?.state?.code == 0">
 
          <div>
            this.heldStack?.items.length: {{ this.heldStack?.items.length }}
          </div>
          <div>
            Current Tick: {{ this.p2pClient?.serverState?.game?.currentTick }}
          </div>

          <div v-if="heldStackIsMine">
            This is YOUR STACK!
          </div>

          <div v-if="!currentHandComplete">          
            <div v-if="heldStack?.requires=='image'">
              <h1>Draw your image here</h1>
          
              <span>{{ heldStackTopItem?.value }}</span>

              <div id="palette" class="palette">
                <div style="background-color: black;"></div>
                <div style="background-color: red;"></div>
                <div style="background-color: green;"></div>
                <div style="background-color: blue;"></div>
              </div>
                      
              <canvas id="paintCanvas" width="400" height="400"></canvas>
              <button v-on:click="sendImage" class="form-button">Send Image</button>
            </div>

            <div v-if="heldStack?.requires=='string'">
              <h1>Caption this</h1>
              
              <img v-bind:src="heldStackTopItem?.value" />

              <input type="text" name="caption" v-model="caption">            
              <button v-on:click="sendCaption" class="form-button">Send Caption</button>
            </div>

          </div>
          <div v-else>
            <span>Wait for other players to finish their tasks.</span>
          </div>
        </div>

        <div v-if="transmittedServerState?.game?.state?.code == 1">
          Scoring Screen.

          A carousel of each stack.
          Final panel is a "submit" button.
        </div>



        <!--- Debug below here -->

        <div>
          <h2>Debug View of All Stacks</h2>

          <div class="stack-debug" style="display: flex; flex-direction: column;" v-for="stack in transmittedServerState?.game?.stacks"> 
            <span>Stack owner {{ stack.ownedBy  }}</span>      
            <div style="display: flex; flex-direction: column; flex-grow: 0;">
              <div style="border: 1px solid black;" class="stack-item-debug" v-for="item in stack.items">
                <span v-if="item.type == 'string'"  style="width: 150px; height: 50px;">{{ item.value }}</span>
                <img v-else v-bind:src="item.value" style="width: 150px; height: 150px;" />
              </div>
            </div>      
          </div>

        </div>


      </section>
    </div>
  </body>
</html>