<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Depict-it</title>
    
    <script src="//cdn.ably.io/lib/ably-1.js" defer></script>    
    <script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
 
    <script src="/index.js" type="module"></script>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div id="app">
      <h1>Depict-it</h1>

      <div class="debug">
        Client State: {{ state?.status == undefined ? "Disconnected" : state?.status }}
      </div>

      <form class="form" v-if="!joinedOrHosting">
        <label for="session-name">Enter a name for your session</label>
        <input type="text" name="session-name" v-model="gameId">
        <label for="name-name">Enter your name</label>
        <input type="text" name="name" v-model="friendlyName">          

        <button v-if="!isJoinLink" v-on:click="host" class="form-button form-button--host">Host a Session</button>
        <button v-if="isJoinLink" v-on:click="join" class="form-button">Join a Session</button>
      </form>      

      <section v-else id="activeGame" class="game-info">
        <h2>Game: {{ gameId }}</h2>

        <invite-link :game-id="gameId"></invite-link>

        <h3>Players: {{ transmittedServerState?.players?.length }}</h3>
        <ul class="players">
          <li class="player" v-for="user in transmittedServerState?.players">
            <div>
              <div class="player-icon">👩‍🦱</div>            
              <div>{{ user.friendlyName }}</div>
            </div>
          </li>
        </ul>
        
        <button v-if="transmittedServerState && !transmittedServerState.started && iAmHost" v-on:click="startGame" class="form-button">Start Game</button>     

        <timer-bar v-if="state?.lastInstruction?.timeout != null" :countdown="state?.lastInstruction?.timeout"></timer-bar>

        <div v-if="state?.timeRemaining != null">
          Time remaining: {{ state.timeRemaining }}
        </div>

        <div v-if="state?.lastInstruction">

            <div v-if="state?.lastInstruction?.type == 'wait'">
              Wait for other players to finish.
            </div>

            <div v-if="state?.lastInstruction?.type == 'show-scores'">
              <h1>Show Scores</h1>
              <div v-for="player in state?.lastInstruction?.playerScores">
                {{ player.friendlyName }}: {{ player.score }}
              </div>
            </div>

            <div v-if="state?.lastInstruction?.type == 'pick-one-request'">
              <h1>Pick one!</h1>              
              <div v-for="item in state?.lastInstruction?.stack.items" style="border: 1px solid black;">
                <stack-item :item="item" v-on:click="sendVote"></stack-item>
              </div>
            </div>
            
            <div v-if="state?.lastInstruction?.type == 'drawing-request'">
              <h1>Draw Something!</h1>          
              <h2>Hint: {{ state.lastInstruction.value }}</h2>
              <drawable-canvas v-on:drawing-finished="sendImage"></drawable-canvas>
            </div>

            <div v-if="state?.lastInstruction?.type == 'caption-request'">
              <h1>Caption this</h1>              
              <img :src="state?.lastInstruction?.value" />
              <input type="text" name="caption" v-model="caption">            
              <button v-on:click="sendCaption" class="form-button">Send Caption</button>
            </div>

        </div>

      </section>
    </div>
  </body>
</html>