body {  
  min-height: 100vh;
  margin: 0 auto;
  border: 0;
  padding: 0;
  background: #00B6E8 url(./assets/bg.png);
  box-sizing: border-box;
  font-family: 'Sora', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  color: #222222;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 12vw;
  width: 16vw;
  max-width: 300px;
  margin: 0;
  color: transparent;
  background: url(./assets/logo.svg) no-repeat center;
  background-size: contain;
}

.join-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.section-heading {
  font-size: 2em;
  color: white;
  text-shadow: 0px 0px 2px #222222;
  text-align: center;
  text-shadow:
  -2px -2px 0 #000,  
   2px -2px 0 #000,
  -2px  2px 0 #000,
   2px  2px 0 #000;

}

.form, .game-info {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0 auto;
  padding: 40px;
  font-size: 1.4em;
  border-radius: 40px;
  background-color: #f1c40f;
  border: 6px solid #222;
  border-left: 10px solid #222;
  border-bottom: 10px solid #222;
}

label {
  width: 100%;
  line-height: 1.6em;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 4px;
  border: 0;
  font-size: 0.8em;
  background-color: white;
}

button {
  width: 100%;
  padding: 20px;
  border: 0;
  border-radius: 4px;
  font-size: 1em;
  color: white;
  background-color: #9265ba;
  cursor: pointer;
}

button:hover {
  background-color: #be4eb7;
}

.info {
  padding: 0 20px;
  width: calc(100% - 404px);
}

.debug {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: red;
  color: white;
  padding: 10px;
}

.players {
    margin: 10px 0 40px;
    padding: 0;
    border-radius: 4px;
}

.player {
  display: inline;
  display: inline-block;

  list-style: none;
  padding: 10px;
}

.player-icon {
  font-size: 45px;
  text-align: center;
  padding-bottom: 20px;
}


/* drawing */
.drawable-canvas {
  /* center align the button plz 🖤 */
}

.drawing-hint {
  background-color: #be4eb7;
  width: 50%;
  font-size: 18pt;
  font-weight: bolder;
  padding: 25px 25px 25px 25px;
  margin-bottom: 30px;
  text-align: center;

}

.palette {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 20px;
}

.palette div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid black;
  margin: 10px;
}

.image-frame {
  width: 400px;
  height: 400px;
  background-color: #ffffff;
  border: 1px solid black;  
  border-radius: 5%;
  filter: drop-shadow(5px 5px 12px);
}

.paint-canvas {
  cursor: crosshair;
}

.canvas-and-paints {
  display: flex;
}

@media (min-width: 740px) {
  h1 {
    top: 20px;
    left: 20px;
  }
}
